<h3>Countries</h3> 
<%= text_field_tag :search_text, "", onkeyup: "searchCountries(this);", :placeholder=>"Enter text to filter", :class=>"form-control", :style=>"display:inline;width:300px;" %>

<div id="country_select_all_checkbox">
	<%= render "select_all_checkbox" %>
</div>
<div id="filter_list">
	<%= render "country_list" %>
</div>
